:root {
    --azul-principal: #0A3A5A;
    --azul-secundario: #1F4373;
    --azul-terciario: #274C9B;
    --azul-cuaternario: #3558B3;
    --azul-destacado: #3B82F6;
    --dorado: #D4AF37;
    --fondo-principal: #FFFFFF;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 60px auto 70px;
    font-family: 'Inter';
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
        background-color: white;
        width: 40%;
        height: 70%;
        min-width: 400px;
        min-height: 500px;
        margin: 30px 50px;
        border-radius: 15px;
        display: grid;
        grid-template-areas: "titulo"
                             "inputs"
                             "boton";
        gap: 10px;
        padding: 30px;

        h2 {
            margin: 0;
            text-align: center;
            font-size: xx-large;
            color: var(--azul-principal);
        }

        h3 {
            margin: 0;
            text-align: left;
            color: var(--azul-principal);
            font-size: x-large;
        }

        .inputs {
            grid-area: inputs;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .form-title {
            grid-area: titulo;
        }
        
        .form-name {
            input {
                font-family: 'Inter';
                padding: 10px 5px;
                font-size: 20px;
                width: 100%;
            }
        }

        .form-messagge {
            textarea {
                font-family: 'Inter';
                resize: none;
                padding: 10px 5px;
                font-size: 20px;
                width: 100%;
                height: 100px;
            }
        }

        button {
            grid-area: boton;
            background-color: var(--azul-principal);
            padding: 10px 0px;
            font-size: larger;
            font-weight: bolder;
            color: white;
            max-height: 60px;
        }
        
    }
}

@media (max-width: 768px) {
    main {
        form {
            min-width: 350px;
            padding: 20px;
        }
    }
}