:root {
    --azul-principal: #0A3A5A;
    --azul-secundario: #1F4373;
    --azul-terciario: #274C9B;
    --azul-cuaternario: #3558B3;
    --azul-destacado: #3B82F6;
    --dorado: #D4AF37;
    --fondo-principal: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

/* estilos del header */

header {
    display: flex;
    height: 60px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: var(--dorado) solid 1px;

   .header-title {
        padding-left: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;

        h1 {
            a {
                text-decoration: none;
                color: var(--azul-principal);
            }
        }

        .divisor {
           width: 1px; 
           background-color: var(--dorado);
           height: 35px; 
           margin-left: 20px;
        }

        .header-nav-links {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 20px;

            a {
                color: var(--azul-principal);
                text-decoration: none;
            }
        }
    
   }

   .social-media {
        padding-right: 30px;
        display: flex;
        flex-direction: row;
        gap: 15px;

        .menu-btn {
            display: none;
        }
   }
}

/* menu interactivo */

.menu-activo {
    display: block;
}

.menu-btn {
    display: none;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25px;
}

/* hero */

.hero {
    background-color: var(--azul-secundario);
    width: 100%;
    min-height: 750px;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;

    .portada {
        min-height: 700px;
        padding: 0px 5%;
        display: grid;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        grid-template-areas: "portada-titulo portada-imagen"
                             "arrow arrow";
        grid-template-rows: auto 80px;

        .portada-titulo {
            min-width: 45%;
            display: flex;
            color: white;
            padding: 20px;
            flex-direction: column;
            text-align: left;

            h2 {
                margin: 0;
                text-align: left;
                font-size: xxx-large;
            }

            p {
                text-align: left;
            }

            button {
                cursor: pointer;
                background-color: white;
                padding: 7px;
                font-size: medium;
                border: black solid 1px;
                border-radius: 1px;
                color: var(--azul-secundario);
                font-weight: bolder;
                width: 150px;
            }
        }

        .portada-imagen {
            height: 100%;
            align-content: center;
            text-align: center;
            img {
                height: auto;
                width: 50%;
            }
        }

        i {
            grid-area: 2 / 1 / span 1 / span 2;
            font-size: 60px;
            color: white;
            justify-self: center;
            align-self: end;
        }

    }
   
}

/* informaciones */

.informacion {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;

    .cascada-item {
        color: var(--azul-principal);
        border-bottom: var(--azul-principal) solid 2px;
        padding: 30px 80px;
        h2 {    
            margin: 0;
            text-align: left;
            font-size: xxx-large;
        }
    }

    .carrusel {
        background-color: var(--azul-secundario);
        align-content: center;
        text-align: center;
    }
}

/* servicios */
.servicios {
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: var(--azul-principal) solid 2px;

    h2 {
        color: var(--azul-principal);
        margin: 0;
        text-align: left;
        font-size: xxx-large;
    }

    .servicios-grid {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3, auto);
        gap: 25px;

        .servicios-grid-item {
            padding: 20px 20px;
            text-align: left;
            color: white;
        }
    }
}

/* bg-color auxliares */
.bg-1 {
    background-color: var(--azul-secundario);
}

.bg-2 {
    background-color: var(--azul-terciario);
}

.bg-3 {
    background-color: var(--azul-cuaternario);
}

/* razones */
.razones {
    background-image: url(/razones-bg.png);
    background-repeat: round;
    background-size: cover;
    margin: 30px 80px;
    padding-right: 45%;
    padding-left: 40px;
    justify-content: center;
    align-items: start;
    min-height: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;

    h2 {
        margin: 0;
        font-size: xxx-large;
    }
}

/* footer */

footer {
    background-color: var(--azul-principal);
    margin: 0;
    padding: 10px;
    text-align: center;
    
    p {
        color: white;

        span {
            font-weight: bolder;
        }
    }
}

/* media querys */

@media (min-height: 1000px) {

    .hero {
        min-height: 780px;
    }
}

@media (max-width: 1080px) {

    /* header mobile */

    header {
        .header-title{

            .header-nav-links.menu-activo {
                display: block;
            }

            .header-nav-links {
                gap: 0;
                left: 0;
                top: 60px;
                width: 100%;
                margin: 0;
                padding: 0;
                align-items: center;
                flex-direction: column;
                position: absolute;
                display: none;

                li {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    cursor: pointer;
                    border-bottom: var(--dorado) solid 1px;
                    background-color: var(--azul-principal);
                    display: flex;

                    a {
                        width: 100%;
                        padding: 25px;
                        color: white;
                        text-align: center;
                    }
                }

            }

            .divisor {
                display: none;
            }
        
        }

        .social-media {
            .menu-btn {
                display: block;
            }
        }
    
    }

    /* hero mobile */

    .hero {
        .portada {
            display: grid;
            grid-template-areas: "portada-imagen portada-imagen"
                                  "portada-titulo portada-titulo"
                                  "arrow arrow";
            grid-template-rows: auto auto 50px;

            .portada-imagen {
                grid-area: portada-imagen;
                height: 20%;

                img {
                    height: auto;
                    width: 300px;
                }
            }

            .portada-imagen {
                padding-bottom: 100px;
            }

            .portada-titulo {
                grid-area: portada-titulo;
                align-items: center;

                h2 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }
                
                button {
                    font-size: larger;
                    padding: 20px;
                    width: 80%;
                }
                
            }

            i {
                grid-area: arrow;
            }
        }
    }

    /* informaciones mobile */
    .informacion {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    /* servicios mobile*/
    .servicios {
        .servicios-grid {
            grid-template-columns: repeat(2, auto);
            .servicios-grid-item {
                padding: 20px 15px;
            }
        }
    }

    /* razones mobile */
    .razones {
        background-repeat: no-repeat;
        background-size: auto;
        background-position: -300px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 750px) {
    /* razones mobile */
    .razones {
        background-position: -420px;
        margin: 0;
    }
}