:root {
    --azul-principal: #0A3A5A;
    --azul-secundario: #1F4373;
    --azul-terciario: #274C9B;
    --azul-cuaternario: #3558B3;
    --azul-destacado: #3B82F6;
    --dorado: #D4AF37;
    --fondo-principal: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

/* estilos del header */

header {
    display: flex;
    height: 60px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: var(--dorado) solid 1px;

   .header-title {
        padding-left: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;

        h1 {
            a {
                text-decoration: none;
                color: var(--azul-principal);
            }
        }

        .divisor {
           width: 1px; 
           background-color: var(--dorado);
           height: 35px; 
           margin-left: 20px;
        }

        .header-nav-links {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 20px;

            a {
                color: var(--azul-principal);
                text-decoration: none;
            }
        }
    
   }

   .social-media {
        padding-right: 30px;
        display: flex;
        flex-direction: row;
        gap: 15px;

        .menu-btn {
            display: none;
        }
   }
}

/* menu interactivo */

.menu-activo {
    display: block;
}

.menu-btn {
    display: none;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25px;
}

/* hero */

.hero {
    background-color: var(--azul-secundario);
    width: 100%;
    height: 100vh;

    .portada {
        padding: 0px 5%;
        display: flex;
        height: 90%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 10px;

        .portada-titulo {
            min-width: 45%;
            display: flex;
            color: white;
            padding: 20px;
            flex-direction: column;
            text-align: left;

            h2 {
                margin: 0;
                text-align: left;
                font-size: xxx-large;
            }

            p {
                text-align: left;
            }

            button {
                cursor: pointer;
                background-color: white;
                padding: 7px;
                font-size: medium;
                border: black solid 1px;
                border-radius: 1px;
                color: var(--azul-secundario);
                font-weight: bolder;
                width: 150px;
            }
        }

        .portada-imagen {
            height: 100%;
            align-content: center;
            text-align: center;
            img {
                height: auto;
                width: 50%;
            }
        }

        i {
            font-size: 80px;
            color: white;
            position: absolute;
            left: 50;
            bottom: 0;
            padding-bottom: 10px;
        }
    }
    
}

/* media querys */

@media (max-width: 1080px) {

    header {
        .header-title{

            .header-nav-links.menu-activo {
                display: block;
            }

            .header-nav-links {
                gap: 0;
                left: 0;
                top: 60px;
                width: 100%;
                margin: 0;
                padding: 0;
                align-items: center;
                flex-direction: column;
                position: absolute;
                display: none;

                li {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    cursor: pointer;
                    border-bottom: var(--dorado) solid 1px;
                    background-color: var(--azul-terciario);
                    display: flex;

                    a {
                        width: 100%;
                        padding: 25px;
                        color: white;
                        text-align: center;
                    }
                }

            }

            .divisor {
                display: none;
            }
        
        }

        .social-media {
            .menu-btn {
                display: block;
            }
        }
    
    }

    .hero {
        .portada {
            flex-direction: column-reverse;

            .portada-imagen {
                height: 20%;

                img {
                    height: auto;
                    width: 300px;
                }
            }

            .portada-titulo {
                align-items: center;

                h2 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }
                
                button {
                    font-size: larger;
                    padding: 20px;
                    width: 80%;
                }
                
            }

            i {
                display: none;
            }
        }
    }
}